# Gradle
.gradle/
build/
**/build/

# Local configuration file (sdk path, etc)
local.properties

# Log/temporary files
*.log
*.tmp

# Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# Keystore files (mai versionare certificati o chiavi)
*.jks
*.keystore

# OS files
.DS_Store
Thumbs.db

# Crashlytics/Fabric
crashlytics-build.properties

# Kotlin
*.kotlin_module

# Signed APKs
*.apk
*.ap_

# NDK
obj/

# IntelliJ
*.class

# Packaging
*.dex
*.so
*.jar
*.war
*.ear

# Others
captures/

